body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}

/* If .interest-container is directly inside body which has flex centering, we need to reset that for this container */
.interest-container {
  align-self: flex-start; /* Reset flex alignment */
  width: auto; /* Use auto instead of 100vw to avoid overflow caused by vertical scrollbar */
  padding: 50px;
  padding-top: 18%;
  padding-bottom: 18%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: large;
}
